doctype

html(lang='en')
  head
    
    - var title = "WebShark"
    - var keywords = "Keywords var keywords"
    - var description = "Description var description"
    title= title

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    link(rel='icon', type='static/ico', href='static/favicon.ico?v=13')

    meta(property='og:url', content='https:')
    meta(property='og:image', content='img/ogg.png?v=1.3')
    meta(property='og:image:width', content='300')
    meta(property='og:image:height', content='300')

    meta(property='og:title', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(property='og:type', conten= '' + keywords + ''  )
    meta(name='description', conten= '' + description + '' )
    meta(name='keywords'  conten= '' + keywords + '' )

  body.oveflow-hidden.info(data-img='img/232110.png')

    .bar-long.none

    header
      .container
        .row
          .col.m12.s12.l12.xl12
            ul
              li
                a(href='javascript:;') Home
              li
                a(href='javascript:;') About us
              li
                a(href='javascript:;') Services

            .logo__cont
              a(href='javascript:;')
                img.logo__img(data-src='img/logo.svg', alt='logo')

            ul
              li
                a(href='javascript:;') Our process
              li
                a(href='javascript:;') Resources
              li
                a(href='javascript:;') Contact



    section#home0.home__0
      video#video_0( preload='none' src='video/star.mp4' autoplay='' muted='')
        //source( type='video/mp4'  data-src="video/star.mp4")
        //source(data-src='video/background.webp' type='video/webp') 

      .container
        .row
          .col.m12.s12.l12.xl12
            ul
              li
                img(data-src='img/W.svg', alt='W')
              li
                img(data-src='img/E.svg', alt='E')
              li
                img(data-src='img/B.svg', alt='B')
              li
                img(data-src='img/S.svg', alt='S')
              li
                img(data-src='img/H.svg', alt='H')
              li
                img(data-src='img/A.svg', alt='A')
              li
                img(data-src='img/R.svg', alt='R')
              li
                img(data-src='img/K.svg', alt='K')

    #full__tuch
      div
        section#home2.home__2
          video#video_2( preload='' autoplay='' muted='' loop='' src='video/services.mp4')

          .container
            .row
              .col.m12.s12.l12.xl12
                h2.title Services we provide

                ul.list
                  li
                    a(href='javascript:;')  Paid Social
                    .preview
                      img(data-src='img/home__2_preview_1.png', alt='home__2_preview_1')

                  li
                    a(href='javascript:;')  Paid Search
                    .preview
                      img(data-src='img/home__2_preview_2.png', alt='home__2_preview_1')


                  li
                    a(href='javascript:;')  Organic Search
                  li
                    a(href='javascript:;')  Data Analytics
                  li
                    a(href='javascript:;')  Digital Strategy

                .arrow__cont
                  a.next__arrow(href='javascript:;')
                    span
          #topbtn(onclick='goTop()') &uarr;

    
        //      div
        //        section#home1.home__1
        //
        //          video#video_1( preload='none' src='video/home.mp4' autoplay='' muted='' loop='')
        //
        //
        //          .container
        //            .row
        //              .col.m12.s12.l12.xl12
        //                h1.title Digital marknadsföring som ger resultat
        //
        //                p.sub Vi hjälper bolag över hela Sverige att få nya kunder genom sökordsoptimering, Google annonsering och annonsering på sociala medier.
        //
        //                .bot__cont
        //                  a.red(href='javascript:;') Kontakta oss
        //                  a.white(href='javascript:;') Våra tjänster
        //
        //                .brand__cont
        //                  a(href='javascript:;')
        //                    img(data-src='img/brand_1.svg', alt='brand')
        //
        //                  a(href='javascript:;')
        //                    img(data-src='img/brand_2.svg', alt='brand')
        //
        //                  a(href='javascript:;')
        //                    img(data-src='img/brand_3.svg', alt='brand')
        //
        //                  a(href='javascript:;')
        //                    img(data-src='img/brand_4.svg', alt='brand')
        //                .arrow__cont
        //                  a.next__arrow(href='javascript:;')
        //                    span



                        
                        
        //#well
          //section.one
          //  #title1 One
          //section.two
          //  #title2 Two
          //section.three
          //  #title3 Three
          //section.four
          //  #title4 Four
          //section.five
          //  #title5 Five
          //#topbtn(onclick='goTop()') &uarr;

                  
    a.bot_modal.none(data-fancybox='', data-data-src='#modal-1', href='javascript:;') Open Modal 1
    // //// MODAL ////
    #modal-1.modal__style.modal(style='display: none;')
      .content_modal
        h3 title

        form(method='POST', action='javascript:void(null);')
          // Hidden Required Fields

          .form_input
            span.field
              input(type='text', name='name', required='', value='', placeholder='Name')

          .form_input
            span.field
              input.phone(type='text', name='phone', required='', value='', placeholder='Phone')

          button.green(type='submit', name='send') Send
          
          
          
    a.bot_modal.none(data-fancybox='', data-data-src='#modal-2', href='javascript:;') Open Modal 2
    // //// MODAL ////
    #modal-2.modal__style.modal(style='display: none;')
      .content_modal
        h3 title

        form(method='POST', action='javascript:void(null);')
          // Hidden Required Fields

          .form_input
            span.field
              input(type='text', name='name', required='', value='', placeholder='Name')

          .form_input
            span.field
              input.phone(type='text', name='phone', required='', value='', placeholder='Phome')
              
          .form_input
            span.field
              textarea.textarea(name='message', required='', value='', placeholder='You message')

          button.green(type='submit', name='send') Send



    script( src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')
    script( src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js')
      // script( async data-src='https://www.andreaverlicchi.eu/vanilla-lazyload/dist/lazyload.min.js')
    script.
      // console.log('index.pug');

  

      $(function(){
        $('[data-fancybox]').fancybox({
        //  touch: false,
          autoFocus: false
        });

        $("#test").on('click', function(){
          $.fancybox.open('<div class="content__poly"><h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae saepe cum a mollitia soluta, consequuntur dolor, rem ipsa voluptas sint dignissimos, at ratione accusantium quos. Sapiente, officia quo ipsam quis distinctio. Repellendus id distinctio, placeat, consequatur molestias in error voluptate dolorem voluptatum aliquam, eligendi minima.</p><div>');
        });

      });


